### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# STS (Spring Tool Suite)
.springBeans

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

# Directories #
/build/
/bin/
target/
